<!DOCTYPE html>
<html lang="en">
  <%- include('header', {title:'User Notes'}); %>
  <body>
    <%- include('navbar'); %>
    <div class="container-fluid min-vh-100 h-auto">
      <%- include('headerimg', {image:'/allnotes.jpg', text:"Your Notes"}); %>
      <% ejsdata.forEach((note) => { %>
      <br />
      <a
        href="/note/<%= note.id %>"
        class="text-black"
        style="text-decoration: none;"
      >
        <div class="container bg-light mb-4 p-5">
          <div class="row d-flex align-items-center">
            <div
              class="col-sm-6 align-self-stretch text-start text-success fw-bold fs-6 mb-1"
            >
              #<%= note.id %> | <%= note.date %> |
            </div>
          </div>
          <div class="row d-flex align-items-center">
            <div class="col-sm-12 fw-light fs-6"><%= note.behaviour %></div>
          </div>
        </div>
      </a>
      <% }) %>
    </div>
    <%- include('footer'); %>
  </body>
</html>
